@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
    url('./fonts/fira-sans-v10-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'),
    url('./fonts/fira-sans-v10-latin-700.woff2') format('woff2');
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
  color: #e96d77;
  font-weight: bold;
}

p {
  line-height: 28px;
}

ul,
ol {
  padding: 0 0 0 2.5em;
}

li {
  line-height: 1.8;
}

:focus {
  outline: 3px solid lightskyblue;
}
