@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
    url('./fonts/fira-sans-v10-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
    url('./fonts/fira-sans-v10-latin-600.woff2') format('woff2');
}

:root {
  /* Primary */
  --color-darkest-purple: #191238;
  --color-darker-purple: #2e235d;
  --color-dark-purple: #4a308d;
  --color-purple: #5e3da8;
  --color-light-purple: #8052dc;
  --color-lighter-purple: #c2aaf9;
  --color-lightest-purple: #ede6fb;

  /* Neutral */
  --color-darkest-grey: #353140;
  --color-dark-grey: #403b4d;
  --color-grey: #746d86;
  --color-light-grey: #d3d1d9;
  --color-lighter-grey: #edebf2;
  --color-lightest-grey: #fbf8ff;
  --color-white: #ffffff;

  /* Accent */
  --color-dark-coral: #dd5f6e;
  --color-coral: #e96d77;
  --color-light-coral: #fb7982;
  --color-dark-mint: #22d39b;
  --color-mint: #30e8b6;
  --color-light-mint: #2cf6c3;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  line-height: 1.46667;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-darkest-grey);
}

a,
a:visited {
  color: var(--color-purple);
  font-weight: bold;
  outline: 0;
}

a:hover {
  text-decoration: none;
}

p {
  color: var(--color-dark-grey);
}

ul,
ol {
  padding: 0 0 0 2.5em;
}

ul li {
  line-height: 1.75;
}

:focus {
  outline: 0;
  box-shadow: 0px 0px 0px 3px var(--color-light-coral);
}

/*
Reach Router focuses div for a11y to assist screenreaders, but a visual
style isn't necessary.
*/
div:focus {
  box-shadow: none;
}
